<div class="grid-frame">
  <div class="grid-block">
    <div class="grid-content medium-5 small-12">
      <h1 class="title-text">About</h1>
      <p>
        Conceptualized in 2013, the Pamoja Mentors is, at its core, deeply committed to the belief that sports have the ability to teach more than physical skills.  There is significant evidence suggesting that participation in athletics can help teach children life skills, with other studies demonstrating a linkage between participation in sports to increased self esteem, social skills, goal setting, and leadership.
      </p>
      <p>
        Sport has the opportunity to be especially impactful in the lives of children without positive role models and leadership in their lives.  This is particularly true for many of the 250,000 street children in Kenya who have left their homes and decided to pursue life on the streets.   Sometimes turning to the street in search of financial opportunity and social networks, street children instead often find themselves begging for food, addicted to drugs, and subjected to peer pressure and abuse.
      </p>
      <p>
        Since 2014, the Pamoja Mentors has been bringing U.S. Student Athletes to Kenya’s Rift Valley, using athletics to build life skills in Kenyan youth.  The Pamoja Mentors have closely collaborated with the Kenyan professional running community and organizations such as Tumaini in Eldoret to provide no-charge sports and activities camps to hundreds of Kenyan youth and street children.  The cornerstone belief of the Pamoja Mentors is that motivated U.S. Student-Athletes, in combination with Kenyan role models, form a dynamic team capable of motivating, inspiring, and educating the street children who are otherwise neglected.  Armed with a soccer ball, running shoes, or markers and blank paper, the Kenyan and American partners quickly find themselves surrounded by an energetic and enthusiastic audience of children, thus providing an opening to begin encouraging the street children towards a healthier and more promising lifestyle.
      </p>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div id="aboutImg" class="grid-content medium-7 small-12">
    </div>
  </div>
</div>