<div class="grid-frame">
  <div id="missionImage" class="v-align text-center grid-block vertical align-center">
    <h1  class="title-text">Mission</h1>
    <div class="block-content">
      <h3>
        The Pamoja Mentors partners U.S. Student-Athletes with Kenyan athletes and role models to positively motivate and inspire homeless and otherwise stigmatized youth in Kenya’s Rift Valley through summer sports and life skills camps.  In keeping with the idea of “Pamoja” (Swahili for “Together”), the Pamoja Mentors enables U.S. and Kenyan  students, athletes, professionals, and community leaders to learn and grow TOGETHER.
      </h3>
    </div> 
  </div>
</div>