<div class="menu-group primary">
  <div class="menu-group-left">
    <ul class="menu-bar primary icon-top large-icon-left">
      <li><a ui-sref-active="active" ui-sref="home"><img zf-iconic="" icon="home" size="small" class="iconic-color-primary">Pamoja</a></li>
    </ul>
    </div>
    <div class="menu-group-right">
      <ul class="primary menu-bar icon-top medium-icon-right">
        <li>
          <a ui-sref-active="active" ui-sref="mission"><img zf-iconic="" icon="flag" size="small" class="iconic-color-primary">
            Mission
          </a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref="about"><img zf-iconic="" icon="document" size="small" class="iconic-color-primary">
            About
          </a>
        </li>
        <li>
          <a ui-sref-active="active" ui-sref="donate"><img zf-iconic="" icon="thumb" size="small" class="iconic-color-primary">
            Donate
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>